
/*default css*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, ul, li, fieldset, form, label{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
} :focus {outline: 0; }

#header{background: #009cff; font: 400 13px/20px 'Roboto', sans-serif; color: #fff;}
.header-top{border-bottom: 1px solid #5dc0ff; padding: 12px 0; background: #009cff; position: relative; z-index: 2;}
.header-top p span{display: inline-block; margin-right: 30px;}
/*.header-top p span:before{display: inline-block; content: ''; height: 12px; width: 11px; background: url(../images/front/icons.png) no-repeat; margin-right: 10px;}*/
/*.header-top p span.icon-adr:before{background-position: 0 0;}*/
/*.header-top p span.icon-phone:before{background-position: -12px 0;}*/

/*.header-top ul.social{margin: 0 -15px;}*/
/*.header-top ul.social li{float: left; padding: 3px 15px 0;}*/
/*.header-top ul.social li a{display: block; height: 13px; text-indent: -9999px; background: url(../images/front/icons.png) no-repeat;}*/
/*.header-top ul.social li a.icon_f{background-position: 0 -15px; width: 7px;}*/
/*.header-top ul.social li a.icon_t{background-position: -14px -15px; width: 12px;}*/
/*.header-top ul.social li a.icon_p{background-position: -33px -15px; width: 10px;}*/
/*.header-top ul.social li a.icon_g{background-position: -50px -15px; width: 13px;}*/

/*.header-bot{}*/
.logo{max-width: 150px;}
.logo a{display: inline-block; margin: 15px 0 15px;}

.block-menu{position: relative;}
.block-menu ul{}
.block-menu ul li{float: left; text-transform: uppercase; position: relative;}
.block-menu ul li a{font: 400 14px/20px 'Roboto', sans-serif; color: #fff; display: block; padding: 5px 15px;}
.block-menu ul li a:before{content: ''; display: block; width: 20px; height: 10px; position: absolute; top: -10px; left: 50%; margin-left: -10px; transition: top .3s linear;}
.block-menu ul li:hover a:before,
/*.block-menu ul li.active a:before{ top: 0;  background: red no-repeat -28px -1px;}*/
.block-menu ul li ul{visibility: hidden; width: 200px; background: #5DC0FF; padding: 5px 0; position: absolute; left: 0px; top: -10%; z-index: 10;text-align: left; transition: visibility, top .5s linear; border-radius: 0 0 4px 4px;}
.block-menu ul li ul li{display: block;float: none;}
.block-menu ul li:hover ul li a{padding: 5px 15px; color: #fff; border: none;}
.block-menu ul li:hover ul li:hover a{background: #009cff;}
.block-menu ul li ul li a:before{display: none;}
.block-menu ul li:hover ul{ visibility: visible; top: 100% ;}

.sign-up {float: right;}
.sign-up a{color: white !important; }
.sign-up a:hover{color: #ff9600 !important;}
.sign-up-2nd {float: none; padding: 7px 20px;border: none;margin: 0;display: block;text-align: left;}
.sign-up-2nd a {font-size: 14px; padding: 0;border: none; color: #ffffff !important;text-transform: capitalize; background: transparent; display: block;}
.sign-up-2nd a:hover{color: #ff9600 !important}

.join-btn {padding-top: 25px; padding-left: 15px;}
.navbar {margin-bottom: 0px !important;}
.navbar-collapse{padding: 0px; border-top: none}

/*==========================================================================*/

@-moz-document url-prefix() {

}

@media (max-width: 1190px){
    .block-menu ul li a{padding:5px 10px;}
    .sign-up-2nd {display: none}
    .navbar-default{background: #009cff; border: none;}
}
@media (min-width: 1190px){
    .sign-up-2nd {display: none}
    .navbar-default{background: #009cff; border: none;}
}
@media (max-width: 768px){
    .logo a{margin: 10px 0;}
    .block-menu ul li a:before{display: none;}
    .block-menu ul li a .caret{float: right;margin-top: 8px;}
    .block-menu ul li:hover ul{top: 7px;}
    .footer-top .block-menu,
    .block-menu ul li:hover ul li a{padding: 0;}

    .sign-up-2nd {display: none}
    .navbar-default{background: #009cff; border: none;}

    .join-btn{padding: 5px ;width: 385px}
    .sign-up-2nd {display: none}
    .logo{width: 100px}

    .float-right-menu{float: right !important;}
    .block-menu{position: relative; border-top: 1px solid white; }

    .navbar-default .navbar-toggle .icon-bar{background-color: #ff9600  !important}
}
@media (max-width: 750px){
    .sign-up-2nd {display: none; width: 385px; padding: 0px !important}
}
@media (max-width: 680px){
    #footer{background: url(../images/bg2.jpg) no-repeat 64% center; background-size: cover;}
    .sign-up-2nd {display: none}

}
@media (max-width: 630px){
    .sign-up {display: none}
    .sign-up-2nd {display: block}
}
@media (max-width: 500px){
    .header-top p.pull-left{display: none;}
    .header-top .pull-right{width: 100%;}
    .header-top ul.social{width: 165px; margin: auto;}
    .join-btn{width: 260px;}
    .sign-up-2nd {width: 260px;}

}
@media (max-width: 420px){
    .logo{max-width: 150px;}
}

@media (max-width: 340px){
    .header-top{display: none;}

}
