@font-face {
    font-family: 'utm_alexander';
    src: url('../fonts/utm_alexander.otf');
    src: url('../fonts/utm_alexander.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*default css*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, ul, li, fieldset, form, label{
	border: 0;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
} :focus {outline: 0; }
/*img {width: auto\9; height: auto; max-width: 100%; vertical-align: middle; -ms-interpolation-mode: bicubic; }*/
/*table {border-collapse: collapse; border-spacing: 0; width: 100%; }*/
/*html,body {height: 100%; }*/
/*home page css*/
body {
	font: normal normal 100% Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	font-size: .75em; }
input,select,textarea {
    color: #38444f;
}
input:focus,select:focus,textarea:focus,a:link,a:visited,a:hover,a:focus {outline: none; }
a:link,a:visited,a:hover,a:focus {text-decoration: none; }
a:link,a:visited {color: #000; }
a:hover,a:focus {color: #43f812; }
.clear {clear: both; }

/*===================================================================*/


.slider{position: relative; overflow: hidden;}
.slider .block-slider{position: relative; overflow: hidden; border-bottom: 3px solid #a9cbe0;}
.rslides {position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; }
.rslides li {-webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0; }
.rslides li:first-child {position: relative; display: block; float: left; }
.rslides img {display: block; height: auto; float: left; width: 100%; border: 0; }
.slider .txt-info{position: absolute; left: 0;top: 0; text-align: center; width: 100%; height: 100%;}
.table_{display: table; width: 100%; height: 100%;}
.table_cell{display: table-cell; width: 100%; height: 100%; vertical-align: middle;}
.table_cell h5{font: 700 36px/41px 'Montserrat', sans-serif; color: #fff; text-transform: uppercase; margin-bottom: 5px;}
.table_cell h5 span{color: #fff000;}
.table_cell .container{margin-top: -40px;}

.block-search{position: sticky; bottom: 30%; left: 0; width: 100%; z-index: 10;}
.search-info{background: rgba(0,0,0,0.50); padding: 20px;}
.search-info ul{margin: 0 -6px;}
.search-info ul li{float: left; padding: 0 6px; position: relative;}
.search-info ul li.location_{width: 282px;}
.search-info ul li.date_{width: 190px;}
.search-info ul li.date_:after{content:''; width: 16px; height: 16px; background: url(../images/front/sprite.png) no-repeat -72px 0; display: block; position: absolute; right: 15px; top: 50%; margin-top: -8px;}
.search-info ul li.select_{width: 142px;}
.block-search label{width: 100%; position: relative; cursor: pointer;}
.block-search label:after {content:''; right:8px; top:50%; margin-top: -4px; position:absolute; pointer-events:none; width: 6px; height: 8px; background: url(../images/front/sprite.png) no-repeat -96px 0; }
.block-search select {-webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer;}
.block-search button {width: 154px; display: block; text-align: center; padding: 7px 0; background: #ff9600; font: 400 13px/20px 'Roboto', sans-serif; border: none; text-transform: uppercase; color: #fff; transition: background .5s ease;}
.block-search button:hover{background: #009CFF;}

.search-info ul li .form-control{height: 34px; border-radius: 0; border: none; font: 400 13px/20px 'Roboto', sans-serif; color: #9c9c9c;}
.block-search ::-webkit-input-placeholder {font: 400 13px/20px 'Roboto', sans-serif; color: #9c9c9c;}
.block-search :-moz-placeholder {font: 400 13px/20px 'Roboto', sans-serif; color: #9c9c9c;}
.block-search ::-moz-placeholder {font: 400 13px/20px 'Roboto', sans-serif; color: #9c9c9c;}
.block-search :-ms-input-placeholder {font: 400 13px/20px 'Roboto', sans-serif; color: #9c9c9c;}

.datepicker{margin-top: -243px;}
.datepicker .table-condensed th{font: 500 13px/20px 'Roboto', sans-serif; padding: 2px; }
.datepicker .table-condensed td{font: 400 13px/20px 'Roboto', sans-serif; padding: 2px;}


.block-tour{margin: 50px 0 45px;}
.block-tour ul.list_tab{text-align: center;width: 100%; margin-bottom: 30px;}
.block-tour ul.list_tab li{display: inline-block; padding: 0 4px;}
.block-tour ul.list_tab li a{font: 700 15px/20px 'Montserrat', sans-serif; color: #666; text-transform: uppercase; border: 1px solid #e4e4e4; padding: 8px 10px 6px; display: block;}
.block-tour ul.list_tab li a.active{background: #ff9600; border-color: #ff9600; color: #fff;}

.tab_content{}
.tab_detail{}
.tab_detail ul .col-md-4{margin-bottom: 30px;}
.tab_detail .txt-info{padding: 25px 20px; border: 1px solid #e4e4e4; border-top: none;}
.tab_detail a.img{display: block; border-bottom: 3px solid #009cff; max-height: 220px; overflow: hidden; border-radius: 4px 4px 0 0; transition: border-color 1s ease;}
.tab_detail a.img:hover{border-color: #FF4444;}
.tab_detail h3{height: 20px; overflow: hidden; text-transform: capitalize; margin-bottom: 10px;}
.tab_detail h3 a{font: 500 15px/20px 'Roboto', sans-serif; color: #333;}
.tab_detail p{font: 400 13px/20px 'Roboto', sans-serif; color: #666; height: 60px; overflow: hidden;}
.tab_detail ul.text-center{margin: 0;}
.tab_detail ul.text-center li{font: 400 14px/20px 'Roboto', sans-serif; color: #666; padding: 9px 0; border: 1px solid #e4e4e4; border-top: none;}
.tab_detail ul.text-center li:first-child{border-right: none;}
.tab_detail ul.text-center li span:before{content: ''; width: 16px; height: 16px; margin-right: 10px; background: url(../images/front/sprite.png) no-repeat; display: inline-block; vertical-align: sub;}
.tab_detail ul.text-center li span.date:before{background-position: -71px -22px;}
.tab_detail ul.text-center li span.price:before{background-position: -90px -22px;}
.tab_detail ul.text-center li span.price{color: #ff4444;}

.block-news h3 a:hover,
.tab_detail h3 a:hover{color: #009cff;}
.block-pag{text-align: center;}
.block-pag ul li{display: inline-block; padding: 0 4px;}
.block-pag ul li a{width: 14px; height: 14px; display: block; border: 3px solid #e4e4e4; border-radius: 100%; background: #fff; text-indent: -9999px;}
.block-pag ul li.active a{border-color: #009cff;}

.banner{margin-bottom: 45px;}

h2{font: 700 18px/20px 'Montserrat', sans-serif; color: #009cff; text-transform: uppercase; margin-bottom: 20px;}
h2:before{content: ''; width: 16px; height: 20px; display: inline-block; vertical-align: sub; background: url(../images/front/sprite.png) no-repeat -112px 0; margin-right: 10px;}
.block-news{margin-bottom: 25px;}
.block-news ul li{margin-bottom: 20px;}
.block-news h3{height: 40px; overflow: hidden; margin: 15px 0 10px;}
.block-news h3 a{font: 500 15px/20px 'Roboto', sans-serif; color: #333;}
.block-news p{font: 400 13px/20px 'Roboto', sans-serif; color: #666; margin-bottom: 5px;}
.block-news span{font: 400 13px/20px 'Roboto', sans-serif; color: #9c9c9c;}

a.smobitrigger{display: none;width: 25px;height:19px;overflow: hidden; position: absolute; top: 25px; right: 0; background: url(../images/front/line.png) no-repeat; text-indent: -9999px; z-index: 50;}
/*==========================================================================*/

@-moz-document url-prefix() {

}

@media (max-width: 1199px){
	.block-search{position: absolute; bottom: 12%;}
	.search-info ul li.location_{width: 230px;}
	.search-info ul li.date_{width: 145px;}
	.search-info ul li.select_{width: 130px;}
	.block-search button{width: 120px;}

}
@media (max-width: 768px){
	.logo a{margin: 10px 0;}
	.footer-top .block-menu,

	.block-search{position: sticky; bottom: auto; left: auto; margin-top: 25px;}
	.search-info{background: #009CFF; padding-bottom: 0;}
	.block-search .search-info ul li{width: 33.33%; margin-bottom: 20px;}
	.block-search .search-info ul li button{width: 100%;}
}
@media (max-width: 750px){
	.table_cell .container{margin-top: 0;}
	.table_cell h5{font: 700 20px/22px 'Montserrat', sans-serif;}
	.block-news ul li a.img{display: block;}
	.block-news ul li a.img img{width: 100%;}
	.block-tour{margin: 30px 0;}
	.banner{margin-bottom: 30px;}
	.block-news{margin-bottom: 10px;}
}
@media (max-width: 680px){
	#footer{background: url(../images/front/bg_footer.png) no-repeat 64% center; background-size: cover;}
}
@media (max-width: 630px){
	.block-search .search-info ul li:last-child,
	.block-search .search-info ul li.location_{width: 100%;}
	.block-search .search-info ul li{width: 50%;}
	.tab_detail .txt-info{padding: 15px 10px;}
}
@media (max-width: 500px){
	.header-top p.pull-left{display: none;}
	.tab_detail ul.text-center li:first-child{border-right: 1px solid #e4e4e4;}
	.tab_detail ul.text-center li,
	.header-top .pull-right{width: 100%;}
	.header-top ul.social{width: 165px; margin: auto;}
}
@media (max-width: 420px){
	.logo{max-width: 150px;}
	a.smobitrigger{top: 20px;}
	.table_cell h5{font: 700 14px/20px 'Montserrat', sans-serif;}
	.block-tour ul.list_tab li a{font: 500 11px/20px 'Montserrat', sans-serif;}
	.block-news ul li,
	.tab_detail ul .col-md-4{width: 100%;}
	.tab_detail p{height: auto;}
}
/*==========================================================================*/


/** {box-sizing:border-box}*/
/*.mySlides {display:none}*/

/*!* Slideshow container *!*/
/*.slideshow-container {*/
	/*max-width: 1000px;*/
	/*position: relative;*/
	/*margin: auto;*/
/*}*/

/*!* Fading animation *!*/
/*.fade-in {*/
	/*-webkit-animation-name: fade-in;*/
	/*-webkit-animation-duration: 5s;*/
	/*animation-name: fade-in;*/
	/*animation-duration: 5s;*/
	/*opacity: 1;*/
/*}*/

/*@-webkit-keyframes fade-in {*/
	/*from {opacity: .4}*/
	/*to {opacity: 1}*/
/*}*/

/*@keyframes fade-in {*/
	/*from {opacity: .4}*/
	/*to {opacity: 1}*/
/*}!* Fading animation *!*/
/*.fade-out {*/
	/*-webkit-animation-name: fade-out;*/
	/*-webkit-animation-duration: 2s;*/
	/*animation-name: fade-out;*/
	/*animation-duration: 2s;*/
	/*opacity: 1;*/
/*}*/

/*@-webkit-keyframes fade-out {*/
	/*from, 90% {opacity: 1}*/
	/*to {opacity: 0.4}*/
/*}*/

/*@keyframes fade-out {*/
	/*from,90% {opacity: 1}*/
	/*to {opacity: 0.4}*/
/*}*/